@font-face {
  font-family: 'MuseoSans-Bold';
  src: local("MuseoSansCyrl-900"), url("https://nomail.com.ua/files/woff/73e5c73d4e80e6c080cd1bc5894cf3e8.woff") format("woff"); }
@font-face {
  font-family: 'MuseoSans-Normal';
  src: local("MuseoSansCyrl-500"), url("https://nomail.com.ua/files/woff/02f7d6b8e3cda79742b374cbc5595a8f.woff") format("woff"); }
@font-face {
  font-family: 'MuseoSans-Light';
  src: local("MuseoSansCyrl-100"), url("https://nomail.com.ua/files/woff/1913b09835e902f7123ad3ac38b4cd93.woff") format("woff"); }
header > .wrapper, .inquire > .wrapper, .platform > .wrapper, .product > .wrapper, .team > .wrapper, footer > .wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

header > .wrapper, .inquire > .wrapper, .platform > .wrapper > .items > .row, .product > .wrapper, .team > .wrapper > .team-list {
  display: flex;
  flex-wrap: wrap; }



.rotate-360 {
  transform: rotate(360deg); }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: "MuseoSans-Normal"; }

b {
  font-family: "MuseoSans-Bold"; }

header {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover; }
  header > .wrapper {
    min-height: 100vh; }
    header > .wrapper nav {
      flex-basis: 100%;
      text-align: right; }
      header > .wrapper nav a {
        display: inline-block;
        color: #7a92e4;
        font-family: "MuseoSans-Bold";
        text-decoration: none;
        font-size: 14px;
        margin-right: 30px;
        padding-top: 24px; }
        header > .wrapper nav a:hover, header > .wrapper nav a:active {
          color: #A3A3A3; }
    header > .wrapper > .content {
      max-width: 960px;
      margin: 0 auto;
      color: #303A5A;
      text-align: center; }
      header > .wrapper > .content h1 {
        text-transform: uppercase;
        font-size: 36px;
        color: #50F;
        opacity: .7;
        font-family: "MuseoSans-Light"; }
      header > .wrapper > .content h2 {
        font-size: 30px; }
      header > .wrapper > .content > .content {
        font-size: 14px; }
      header > .wrapper > .content > .btn {
        display: inline-block;
        background: #a3a3a3;
        padding: 10px 50px;
        border-radius: 30px;
        color: white;
        font-style: 16px;
        text-decoration: none;
        margin-top: 75px; }
        header > .wrapper > .content > .btn:hover {
          background-color: #b0b0b0; }

.inquire {
  background: #A3A3A3;
  padding: 40px 0; }
  .inquire > .wrapper {
    justify-content: space-around;
    align-items: center;
    color: white; }
    @media (max-width: 768px) {
      .inquire > .wrapper {
        display: block;
        text-align: center; } }
    .inquire > .wrapper > .btn {
      display: inline-block;
      border-radius: 30px;
      background: red;
      padding: 7px 50px;
      text-decoration: none;
      color: white; }
      @media (max-width: 768px) {
        .inquire > .wrapper > .btn {
          margin-top: 25px; } }
      .inquire > .wrapper > .btn:hover {
        background: #ff1a1a; }

.platform {
  position: relative;
  padding: 100px 0; }
  .platform > .wrapper > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px; }
  .platform > .wrapper > h3 {
    text-align: center;
    margin-top: 0; }
  .platform > .wrapper > .items {
    margin-top: 65px;
    position: relative; }
    @media (max-width: 768px) {
      .platform > .wrapper > .items {
        padding-left: 35px; } }
    .platform > .wrapper > .items > .row {
      justify-content: space-between;
      margin-bottom: 50px; }
      @media (max-width: 768px) {
        .platform > .wrapper > .items > .row {
          display: block; } }
      .platform > .wrapper > .items > .row:nth-child(even) {
        flex-direction: row-reverse; }
      .platform > .wrapper > .items > .row > .col {
        flex: 1;
        padding: 0 30px; }
        .platform > .wrapper > .items > .row > .col h4 {
          font-size: 15px; }
        .platform > .wrapper > .items > .row > .col .text {
          font-size: 13px;
          line-height: 1.7; }
        .platform > .wrapper > .items > .row > .col img {
          max-width: 100%; }
    .platform > .wrapper > .items > .red-dot {
      position: absolute;
      width: 1px;
      height: 100%;
      background: #7b7b7b;
      top: 0;
      left: 50%; }
      @media (max-width: 768px) {
        .platform > .wrapper > .items > .red-dot {
          left: 20px; } }
      .platform > .wrapper > .items > .red-dot > .cont {
        position: absolute;
        width: 33px;
        height: 33px;
        top: -5px;
        left: -17px;
        border: 1px solid #7b7b7b;
        border-radius: 50%;
        background: white;
        z-index: 1; }
      .platform > .wrapper > .items > .red-dot > .dot {
        position: sticky;
        width: 25px;
        height: 25px;
        margin-left: -12px;
        top: 0;
        background: red;
        border-radius: 50%;
        z-index: 2;
       }

.product {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(to right, #e4474e, #6f3235); }
  .product > .wrapper {
    justify-content: space-between;
    align-items: center;
    color: white; }
    @media (max-width: 768px) {
      .product > .wrapper {
        display: block; } }
    .product > .wrapper > .col.col-1 {
      flex-basis: 65%;
      margin-right: 30px; }
      @media (max-width: 768px) {
        .product > .wrapper > .col.col-1 {
          margin-bottom: 35px; } }
      .product > .wrapper > .col.col-1 > .row-1 h2 {
        font-size: 30px;
        margin-bottom: 5px; }
      .product > .wrapper > .col.col-1 > .row-1 > .note {
        font-style: italic; }
      .product > .wrapper > .col.col-1 > .row-2 {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .product > .wrapper > .col.col-1 > .row-2 > .col-1 {
          color: #4c4c4c;
          font-size: 18px;
          font-family: "MuseoSans-Bold";
          margin-right: 30px; }
        .product > .wrapper > .col.col-1 > .row-2 > .col-2 {
          flex: 1;
          position: relative;
          height: 1px;
          background: #a3a3a3; }
          .product > .wrapper > .col.col-1 > .row-2 > .col-2 span {
            display: flex;
            width: 36px;
            height: 36px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: red;
            position: absolute;
            right: 0;
            top: -18px;
            cursor: pointer; }
            .product > .wrapper > .col.col-1 > .row-2 > .col-2 span:before {
              content: '+';
              font-size: 20px;
              color: white;
              font-family: "MuseoSans-Bold"; }
            .product > .wrapper > .col.col-1 > .row-2 > .col-2 span:hover {
              background: #ff1a1a; }
      .product > .wrapper > .col.col-1 > .row-3 {
        margin-top: 15px;
        max-width: 335px;
        font-size: 14px;
        line-height: 1.7; }
    .product > .wrapper > .col.col-2 {
      flex: 1; }
      .product > .wrapper > .col.col-2 > .square {
        padding-top: 100%;
        position: relative; }
        .product > .wrapper > .col.col-2 > .square > .cont {
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          border: 3px dashed rgba(255, 255, 255, 0.37);
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .product > .wrapper > .col.col-2 > .square > .cont:hover {
            border-color: #4c4c4c; }
          .product > .wrapper > .col.col-2 > .square > .cont > .text {
            font-size: 15px;
            font-family: "MuseoSans-Bold";
            text-align: center;
            line-height: 1.7; }

.team {
  position: relative;
  padding: 100px 0; }
  .team > .wrapper > .for-title {
    text-align: center; }
    .team > .wrapper > .for-title h2 {
      text-transform: uppercase;
      font-size: 30px;
      color: #4c4c4c;
      font-family: "MuseoSans-Light"; }
    .team > .wrapper > .for-title > .descr {
      max-width: 940px;
      margin: 0 auto;
      line-height: 1.7; }
  .team > .wrapper > .team-list {
    justify-content: space-between;
    margin-top: 100px; }
    .team > .wrapper > .team-list > .col {
      flex: 1;
      padding: 0 30px;
      text-align: center;
      margin: 0 0 50px 0; }
      .team > .wrapper > .team-list > .col > .for-photo {
        position: relative;
        width: 150px;
        height: 150px;
        padding: 20px;
        margin: 0 auto;
        transition: all 0.5s ease; }
        .team > .wrapper > .team-list > .col > .for-photo:hover {
          transform: scale(1.1); }
          .team > .wrapper > .team-list > .col > .for-photo:hover > .bd {
            transform: rotate(360deg); }
        .team > .wrapper > .team-list > .col > .for-photo > .bd {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("../img/avatar-wr.jpg") no-repeat center/contain;
          transition: all 0.5s ease;
          border-radius: 35%; }
        .team > .wrapper > .team-list > .col > .for-photo > .photo {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: no-repeat center / cover; }
      .team > .wrapper > .team-list > .col > .nick {
        margin-top: 35px;
        text-align: center;
        font-size: 24px;
        color: black; }
      .team > .wrapper > .team-list > .col > .spec {
        margin-top: 10px; }
      .team > .wrapper > .team-list > .col > .info {
        font-size: 13px;
        line-height: 1.7;
        margin-top: 25px;
        max-width: 430px;
        margin: 25px auto 0 auto; }

footer {
  padding: 100px 0;
  background: #4c4c4c; }
  footer > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 768px) {
      footer > .wrapper {
        display: block; } }
    footer > .wrapper > .col {
      min-height: 100px;
      border-right: 1px solid #727272;
      padding: 0 35px; }
      @media (max-width: 768px) {
        footer > .wrapper > .col {
          border: 0;
          padding: 0; } }
      footer > .wrapper > .col.grow {
        flex: 1; }
      footer > .wrapper > .col:first-child {
        padding-left: 0; }
      footer > .wrapper > .col:last-child {
        padding-right: 0;
        border-right: 0; }
      footer > .wrapper > .col h3 {
        text-transform: uppercase;
        font-family: "MuseoSans-Bold";
        color: #727272; }
      footer > .wrapper > .col > .social {
        display: inline-flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background: #323232;
        border-radius: 10px 0;
        text-decoration: none;
        color: #a3a3a3; }
        footer > .wrapper > .col > .social:hover {
          background: #3f3f3f; }
      footer > .wrapper > .col input[type="text"] {
        display: block;
        outline: none;
        background-color: #323232;
        border-radius: 5px;
        border: 0;
        padding: 15px;
        box-shadow: inset 4.2px -2.7px 5px rgba(0, 1, 1, 0.2);
        max-width: 320px;
        box-sizing: border-box; }
    footer > .wrapper > .col-3 {
      flex: 2; }
      footer > .wrapper > .col-3 > .row {
        display: flex;
        justify-content: space-between; }
        footer > .wrapper > .col-3 > .row > .col-2 a {
          color: pink; }
          footer > .wrapper > .col-3 > .row > .col-2 a:hover {
            color: red; }
      footer > .wrapper > .col-3 > .copy {
        margin-top: 50px; }

[data-js-animation] {
  opacity: 0; }

/*# sourceMappingURL=app.css.map */

